body {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 0;
  min-width: 1139px;
  min-height: 100%;
  display: block;
  font-family: arial, sans-serf;
  color: #222;
}

#navbar {
  font-size: 13px;
  position: relative;
  top: 16px;
}

#abst {
  position: absolute;
  margin: 7px 0 0 10px;
}

#abst a {
  display: inline-block;
  padding-left: 15px;
  color: #000;
  opacity: 0.75;
}

#gmim {
  display: flex;
  flex: 1 1 auto;
  text-align: right;
  min-width: 165px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  align-items: center;
  justify-content: flex-end;
}

#navbar a:nth-child(1) {
  display: inline-block;
  vertical-align: middle;
  flex: 0 0 auto;
}

#navbar a:nth-child(2) {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  flex: 0 0 auto;
}

.apps {
  display: inline-block;
  flex: 0 0 auto;
  padding-right: 15px;
  color: rgba(0, 0, 0, 0.54);
}

#sign-in {
  color: #fff;
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: #4285f4;
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 2px;
}

#main {
  margin: 0 auto;
  min-width: 1139px;
}

#logo-container {
  margin-top: 47px;
  height: 233px;
  text-align: center;
}

#logo {
  padding-top: 109px;
  height: 92px;
  width: 272px;
}

#search-container {
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
}

#search-bar {
  display: flex;
  width: 484px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
}

.input-container {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
}

#search-icon-container {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.gray {
  color: #9aa0a6;
}

.fa-search {
  color: #9aa0a6;
}

#input-flex {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.input {
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex: 100%;
  font-size: 16px;
  line-height: 34px;
  margin-top: -5px;
}

#mic-flex {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding: 0 8px;
  margin-top: -5px;
  flex-direction: row;
}

#google-mic-logo {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

#btn-container {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 70px;
  padding-top: 18px;
  margin: 0 auto;
}

#btn-container button {
  flex: 0 1 auto;
  background-color: #f2f2f2;
  color: #5f6368;
  height: 36px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
}

footer {
  background: #f2f2f2;
  line-height: 40px;
  min-width: 980px;
  border-top: 1px solid #e4e4e4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  font-size: 14px;
  margin-left: -27px;
}

footer a {
  display: inline-block;
  color: #5f6368;
  padding-left: 27px;
  margin: 0;
}

#fl {
  margin-left: 30px;
}

#fr {
  margin-right: 30px;
  float: right;
}
